body,nav{
    background: rgb(0,98,251);
    background: linear-gradient(90deg, rgba(0,98,251,1) 0%, rgba(119,184,228,1) 49%);
}

#card{
    background:#f5f1f1; border-radius: 25px; width: 50%; margin-left: auto; margin-right: auto;
}
h5{
    text-align: center; color: #3c86fc; font-size: 40px;
}
a{
    color: #3c86fc; text-decoration: none; font-weight: bold;
}
p{
    color: red; font-weight: bold;
}

input[name="senha"]  {
    width: 75%; margin-left: auto; margin-right: auto; border-radius: 25px;
}

input[name="usuario"]  {
    width: 75%; margin-left: auto; margin-right: auto; border-radius: 25px;
}

