<!DOCTYPE html>  
<html lang="pt-br">  
  <head>  
    <meta charset="UTF-8">  
    <title>Atualizar Perfil - Worldx</title>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="media/css/usuario/usuario_style.css">
    

</head>  


<body onload="CarregaChk()">

  <nav class="navbar navbar-expand-lg navbar-light"> 
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

       
        <span class="navbar-toggler" style="color:white;">Worldx</span>

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto  ">
              <a class="nav-link "  style="color:white ; font-weight: bold;" href="/home"><li style="color: whitesmoke ; font-weight: bold;  font-size: 1.8em ;" >Worldx</li></a>
            </ul>
        </div>

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " id="viagem" style="color:white ; font-weight: bold;" href="/comunidade">Comunidade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="viagem" style="color:white ; font-weight: bold;" href="/viagens">Viagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white ; font-weight: bold;" href="/forum">Fórum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="viagem" style="color:white ; font-weight: bold;" href="/usuario">Perfil</a>
                </li>
                {% if request.session.user|length > 0 %}
                <li class="nav-item">
                    <a class="nav-link" style="color:white ; font-weight: bold;" href="/logout">{{ request.session.user }}, Sair</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="color:white ; font-weight: bold;" href="/logout">{{ user.username }}, Sair</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% for msg in messages %}

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}

    <form method="POST" class="post-form" action="/update_usuario/{{usuario.id}}">  
        {% csrf_token %}  
    

  <div id="card" class="card align-middle">
    <div class="card-body">
      <h5 class="card-title">Atualizar Perfil</h5>
  

      <div class="campo">
        <input type="text" class="form-control" name="nome" id="nome" value="{{ usuario.nome }}" placeholder="Nome" style="border-radius:25px ;">
      </div>
      <div class="campo">
        <input type="text" class="form-control" name="cpf"  id="Cpf" value="{{ usuario.cpf }}" disabled style="border-radius:25px ;" >
      </div>

      <div class="campo">
        <input type="text" class="form-control" name="telefone"  id="telefone" value="{{ usuario.telefone }}" placeholder="Telefone" oninput="mascara(this, 'tel')"  autocomplete="off" name="customer['tel']" style="border-radius:25px ;" >
      </div>

      <div class="campo">
        <input type="text" class="form-control" name="data_nascimento"  id="data_nascimento" value="{{ usuario.data_nascimento }}" placeholder="Data de Nascimento" oninput="mascara(this, 'data')"  autocomplete="off" name="customer['birthdate']" style="border-radius:25px ;" >
      </div>

      <div class="campo">
        <input type="text" class="form-control" name="email"  id="email" value="{{ usuario.email }}"  placeholder="Email" style="border-radius:25px ;">
      </div>

      <div class="campo">
        <input type="text" class="form-control" name="usuario"  id="usuario" value="{{ usuario.usuario }}" disabled placeholder="Usuario" style="border-radius:25px ;">
      </div>

      

      <input  type="hidden"  name="usuario" value="{{ request.session.user }}">
         

        <div class="input-group mb-3">  
          <div class="campo">  
              <input type="hidden" name="publico" id="id_publico" required maxlength="20" value="{{ usuario.publico }}"/> 
              <input class="form-check-input" type="checkbox" id="privatochk" onclick="myFunction()">Privado
              <input class="form-check-input" type="checkbox" id="publicochk" onclick="myFunction()">Publico 
          </div>  
        </div> 
        



         
        <div class="col text-center">
          <button type="submit" class="btn btn-primary" id="btn">Salvar</button>  
        </div>
          
       
</div>  
</div>      
</form>  



</body>


<script type="text/javascript">  

function CarregaChk(){
  var checkBoxPrivado = document.getElementById("privatochk");
  var checkBoxPublico = document.getElementById("publicochk");
  var status = document.getElementById("id_publico").value;
  
  if(status=="Privado"){
    checkBoxPrivado.checked = true;
  }
  else{
    checkBoxPublico.checked = true;
  }
  


}

function mascara(i,t){
   
   var v = i.value;
   
   if(isNaN(v[v.length-1])){
      i.value = v.substring(0, v.length-1);
      return;
   }
   
   if(t == "data"){
      i.setAttribute("maxlength", "10");
      if (v.length == 2 || v.length == 5) i.value += "/";
   }

   if(t == "cpf"){
      i.setAttribute("maxlength", "14");
      if (v.length == 3 || v.length == 7) i.value += ".";
      if (v.length == 11) i.value += "-";
   }


   if(t == "tel"){
    if (v.length == 1) i.value = "(" + i.value;
  if (v.length == 3) i.value += ") ";
  if(v[5] == 9){
     i.setAttribute("maxlength", "15");
     if (v.length == 10) i.value += "-";
  }else{
     i.setAttribute("maxlength", "14");
     if (v.length == 9) i.value += "-";
  }
}

}


var intervalId = window.setInterval(function(){
    var  nome_input = document.getElementById("nome");
    var tel_input = document.getElementById("telefone");
    var data_nascimento_input = document.getElementById("data_nascimento");
    var email_input = document.getElementById("email");
    var nome=0;
    var tel=0;
    var dat=0;
    var email=0;

    if(nome_input.value.length > 0){
        nome=1;  
    }

    if(tel_input.value.length > 13 ){
        tel=1;  
    }

    if(data_nascimento_input.value.length == 10 ){
        dat=1;  
    }
    if(email_input.value.length > 0 ){
        email=1;  
    }

    if(nome==1 && tel==1 && dat==1 && email==1){
    document.getElementById("btn").disabled = false; 
   }
    else{
        document.getElementById("btn").disabled = true;   
    }
    }, 1000);

    




  function myFunction() {

var checkBoxPrivado = document.getElementById("privatochk");
var checkBoxPublico = document.getElementById("publicochk");
var tipo  = document.getElementById("id_publico");



if (checkBoxPrivado.checked == true){
  tipo.value= "Privado";
  checkBoxPublico.checked=false;
  
}
if (checkBoxPublico.checked == true){
  tipo.value= "Publico";
  checkBoxPrivado.checked=false;
 
} 
}
  
  </script>
</html>