body,nav{
    background: rgb(0,98,251);
    background: linear-gradient(90deg, rgba(0,98,251,1) 0%, rgba(119,184,228,1) 49%);
}

  .wrapper {
    margin: 10vh;
    
  }
  .container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .texto-titulo{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .texto{
    margin-top: 25px;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .btn{
   position:absolute; 
   margin-left:-50px;
   left:50%;
   width:100px;
   bottom:20px;
  }


  .card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    
  
    @media (max-width: 768px) {
      min-height: 350px;
    }
  
    @media (max-width: 420px) {
      min-height: 300px;
    }
  
}
  